.card {
    margin: 2rem 2rem 2rem 0;
    padding: 1.5rem;
    width: 366px;
    height: 120px;
    /*box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);*/
    /*transition: transform .3s ease;*/
    /*cursor: pointer;*/
    /*background: linear-gradient(180deg, rgba(249,249,252,1) 35%, rgba(234,232,254,1) 100%);*/
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 5%,rgba(249,249,252,1) 57%,rgba(249,249,252,1) 58%,rgba(249,249,252,1) 59%,rgba(249,249,252,1) 60%,rgba(249,249,252,1) 49%, rgba(249,249,252,1) 50%, rgba(249,249,252,1) 78%,rgba(234,232,254,1) 79%,rgba(234,232,254,1) 80%);

    border-radius: 0px 0px 8px 8px;
}

/*.card:hover {*/
/*    transform: scale(1.1);*/
/*}*/

.card__title {
    font-weight: 800;
    font-size: 1.5rem;
}

.card__image {
    display: flow;
    justify-content: flex-start;
}
.card__image img {
    border-radius: 50%;
    text-wrap: normal;
    width: 80px;
    height:80px;
}
.name {
    font-family: Calibri, sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    margin-left: 80px;
    margin-top: -50px;
}
.conn {
    font-family: Calibri, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-left: 80px;
    margin-top: -40px;

    color: #D8D8D8;
}
.share {
    font-family: Calibri, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-left: 60px;
    margin-top: 15px;

    color: #8463E7;
}
